# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

PUBLIC_DOMAIN=<YOUR_DOMAIN_NAME>

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for PostHog analytics)
#NEXT_PUBLIC_POSTHOG_ID=

# Optional (for rendering tweets more efficiently)
#TWITTER_ACCESS_TOKEN=

# Optional (for persisting preview images to redis)
# NOTE: if you want to enable redis, only REDIS_HOST and REDIS_PASSWORD are required
# NOTE: don't forget to set isRedisEnabled to true in the site.config.ts file
#REDIS_HOST=
#REDIS_PASSWORD=
#REDIS_USER='default'
#REDIS_NAMESPACE='preview-images'

# Optional (for accessing private pages in development)
# NOTION_TOKEN_V2=
# NOTION_ACTIVE_USER=
# NEXT_PUBLIC_SITE_CONFIG={"rootNotionPageId": "your-page-id-here"}

# Api key for website integration
NOTION_API_KEY=
# GOOGLE_API_KEY=AIzaSyAfx6S5T0xwN_rIUGuOkOivrmJWnXuSpwQ

# Notion specific parameters
NOTION_REGISTER_OF_MEMBERS_DATABASE_ID=

# For Telegram notifications
# TODO the NEXT_prefix is useless, remove from codebase and hosting platform
NEXT_TELEGRAM_TOKEN=<YOUR_TELEGRAM_TOKEN>
NEXT_TELEGRAM_CHAT_ID=<YOUR_TELEGRAM_CHAT_ID>
NEXT_TELEGRAM_MESSAGE_THREAD_ID=<YOUR_TELEGRAM_MESSAGE_THREAD_ID>

# Google integration parameters
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>
GOOGLE_REFRESH_TOKEN=<YOUR_GOOGLE_REFRESH_TOKEN>
GOOGLE_REDIRECT_URL=http://localhost:3000/api/oauth2callback

# Templates for PDF attachments
DRIVE_PDF_DEFAULT_TEMPLATE_ID=<YOUR_DOCUMENT_ID_FROM_GOOGLE_DRIVE>
DRIVE_PDF_U18_TEMPLATE_ID=<YOUR_DOCUMENT_ID_FROM_GOOGLE_DRIVE>

# TEST_EMAIL_ADDRESS=gianmarco@vivaldi.net
CRON_SECRET=<YOUR_VERCEL_CRON_SECRET>
